---
layout: main.njk
jobtitle: web developer
description: Kip Parker is a web development consultant. He can lead teams, add capabilities to an existing team, or design and build a project from a concept to launch.
---
<nav><a href="/">en</a> | <a href="/fr">fr</a></nav>
<header>
    <h1>Kip Parker,<br>{{jobtitle}}.</h1>
</header>
<main>
    {{content | safe}}
</main>