---
layout: main.njk
jobtitle: Software developer
description: Kip Parker is a software development consultant working on climate change and net zero projects.
---
<header>
    <h1>Kip Parker</h1>
    <h2>{{jobtitle}}</h2>
</header>
<main>
    {{content | safe}}
</main> 
